#root:has(.lay-web) .rp-reading-time {
	display: none;
}

.lay-web {
	font-size: 1em;
	width: 100dvw;
	height: 100dvh;
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
	display: grid;
	grid-template-rows: 48px 1fr 40px;
}

.lay-web .lw-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
}

.lwh-l {
	font-size: 24px;
}

.lwh-r {
	font-size: 14px;
	cursor: pointer;
}
.lwh-r:hover {
	font-weight: bold;
}

.lay-web .lw-center {
	padding: 20px 10dvw;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	grid-gap: 15px;
}

.lwc-item {
	height: 100px;
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.lwc-item:hover {
	background: linear-gradient(220.55deg, #dde4ff 0%, #8da2ee 100%);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.lwc-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
}

.lwc-desc {
	font-size: 14px;
	line-height: 2;
}

.lay-web .lw-footer {
	user-select: none;
	font-size: 14px;
	color: #000;
	line-height: 40px;
	text-align: center;
}
