#root:has(.lay-web) {
	* {
		box-sizing: border-box;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		color: #000;
	}

	.rp-reading-time {
		display: none;
	}

	.lay-web {
		width: 100vw;
		height: 100vh;
		background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
	}
}

.lay-web {
	font-size: 1em;
	display: grid;
	grid-template-rows: 48px 1fr 40px;

	.lay-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 12px;

		.lwh-l {
			font-size: 24px;
			&:hover {
				background: linear-gradient(220.55deg, #ff8570 0%, #418cb7 100%);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
			}
		}

		.lwh-r {
			font-size: 14px;
			cursor: pointer;
			&:hover {
				font-weight: bold;
			}
		}
	}

	.lay-center {
		padding: 15px 10dvw;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
		grid-auto-flow: row dense;
		grid-gap: 15px;

		.lwc-item {
			height: 100px;
			padding: 10px;
			background-color: #fff;
			border-radius: 8px;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
			&:hover {
				background: linear-gradient(225deg, #dde4ff 0%, #8da2ee 100%);
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
			}

			.lwc-title {
				font-size: 18px;
				font-weight: bold;
				line-height: 1.5;
			}

			.lwc-desc {
				font-size: 14px;
				line-height: 2;
			}
		}
	}

	.lay-footer {
		user-select: none;
		font-size: 14px;
		color: #000;
		line-height: 40px;
		text-align: center;
	}
}
